In [20]:
import pandas as pd 
import numpy as np
import seaborn as sns 
from matplotlib import pyplot as plt
from datetime import datetime
sns.set_theme(context = 'talk', style = 'darkgrid')

## Join NHL and Elite datasets

In [2]:
#load files 
nhl_data = pd.read_csv(r'C:\Users\akobe\OneDrive\Desktop\Lighthouse\Final\Predicting_Success_First_Round_Picks_NHL\Data\nhl_data.csv', index_col = [0]) #index col makes sures another index column is not needed
elite_data =  pd.read_csv(r'C:\Users\akobe\lighthouse-data-notes\Final-Data\all_elite_prospect_data.csv', index_col = [0])

In [3]:
nhl_data.head(2)

,draft_year,pick_no,team,prospect_name,prospect_id,dob,birth_country,height,weight,shoots,nhl_id,position,prospect_category,amateur_league,amateur_team,nhl_games_played,200+games
0,2009,1,New York Islanders,John Tavares,24111,1990-09-20,CAN,"6' 1""",209,L,8475166,C,North American Skater,OHL,London,1017,1
1,2009,2,Tampa Bay Lightning,Victor Hedman,33799,1990-12-18,SWE,"6' 6""",220,L,8475167,D,European Skater,SWEDEN,Modo,964,1

In [4]:
elite_data.head(2)

,nhl_id,elite_id,elite_name,elite_dob,draft_year,draft_season,prospect_gp,prospect_g,prospect_a,prospect_pts,prospect_pim,prospect_pm
0,8475166,9223,John Tavares,1990-09-20,2009,2008-2009,56,58,46,104,54,10
1,8475167,6007,Victor Hedman,1990-12-18,2009,2008-2009,45,7,16,23,62,21

In [5]:
#join the datasets
data = pd.merge(elite_data, nhl_data,  on = 'nhl_id')

In [17]:
data.head(2)

,nhl_id,elite_id,name,draft_year,draft_season,prospect_gp,prospect_g,prospect_a,prospect_pts,prospect_pim,...,height,weight,shoots,position,prospect_category,amateur_league,amateur_team,nhl_games_played,200+games,birth_month
0,8475166,9223,John Tavares,2009,2008-2009,56,58,46,104,54,...,"6' 1""",209,L,C,North American Skater,OHL,London,1017,1,9
1,8475167,6007,Victor Hedman,2009,2008-2009,45,7,16,23,62,...,"6' 6""",220,L,D,European Skater,SWEDEN,Modo,964,1,12

In [10]:
#drop unwanted columns and columns that are duplicates of each other 
data = data.drop(['draft_year_y', 'prospect_name', 'prospect_id', 'dob'], axis=1)

In [12]:
#rename columns 
data.rename(columns = {'draft_year_x':'draft_year', 'elite_name': 'name', 'elite_dob': 'dob'}, inplace = True)

In [14]:
#convert dob to date, extract out the month 
data['dob'] = pd.to_datetime(data['dob'])
data['birth_month']= data['dob'].dt.month

In [16]:
#drop birthdate 
data = data.drop(['dob'], axis=1)

In [23]:
cols_missing_vals = ['position'] # cols with missing values 
data[cols_missing_vals] = data[cols_missing_vals].replace(0, np.NaN)

In [29]:
#drops the 4 rows without position information 
#data = data.dropna(subset= ['position'])

In [28]:
#save the data to csv 
#data .to_csv('all_merged_data.csv')

## EDA